<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="bediener">
      <h2 data-cy="bedienerDetailsHeading"><span jhiTranslate="h8FirmenVerwaltungApp.bediener.detail.title">Bediener</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bediener.id }}</span>
        </dd>
        <dt><span jhiTranslate="h8FirmenVerwaltungApp.bediener.vname">Vname</span></dt>
        <dd>
          <span>{{ bediener.vname }}</span>
        </dd>
        <dt><span jhiTranslate="h8FirmenVerwaltungApp.bediener.name">Name</span></dt>
        <dd>
          <span>{{ bediener.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bediener', bediener.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
