<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-rechnung-kopf-heading"
        data-cy="RechnungKopfCreateUpdateHeading"
        jhiTranslate="h8FirmenVerwaltungApp.rechnungKopf.home.createOrEditLabel"
      >
        Create or edit a Rechnung Kopf
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="h8FirmenVerwaltungApp.rechnungKopf.auftrag" for="field_auftrag">Auftrag</label>
          <select class="form-control" id="field_auftrag" data-cy="auftrag" name="auftrag" formControlName="auftrag">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="auftragOption.id === editForm.get('auftrag')!.value?.id ? editForm.get('auftrag')!.value : auftragOption"
              *ngFor="let auftragOption of auftragsSharedCollection; trackBy: trackAuftragById"
            >
              {{ auftragOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="h8FirmenVerwaltungApp.rechnungKopf.bediner" for="field_bediner">Bediner</label>
          <select class="form-control" id="field_bediner" data-cy="bediner" name="bediner" formControlName="bediner">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="bedienerOption.id === editForm.get('bediner')!.value?.id ? editForm.get('bediner')!.value : bedienerOption"
              *ngFor="let bedienerOption of bedienersSharedCollection; trackBy: trackBedienerById"
            >
              {{ bedienerOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="h8FirmenVerwaltungApp.rechnungKopf.kunde" for="field_kunde">Kunde</label>
          <select class="form-control" id="field_kunde" data-cy="kunde" name="kunde" formControlName="kunde">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="patnerOption.id === editForm.get('kunde')!.value?.id ? editForm.get('kunde')!.value : patnerOption"
              *ngFor="let patnerOption of patnersSharedCollection; trackBy: trackPatnerById"
            >
              {{ patnerOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="h8FirmenVerwaltungApp.rechnungKopf.status" for="field_status">Status</label>
          <select class="form-control" id="field_status" data-cy="status" name="status" formControlName="status">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="statusOption.id === editForm.get('status')!.value?.id ? editForm.get('status')!.value : statusOption"
              *ngFor="let statusOption of statusesSharedCollection; trackBy: trackStatusById"
            >
              {{ statusOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
